%scm-mce-button {
  border: 1px solid;
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
}

.scm-mce-button,
.mce-content-body a.scm-mce-button[data-mce-selected] {
  @extend %scm-mce-button;
}

body#tinymce.wp-editor.content,
body#tinymce.wp-editor.acf_content {
  hr:not(.is-style-dots) {
    &.scm-mce-spacer {
      &:before {
        content: "Spacer: Desktop " attr(data-desktop) ", Mobile " attr(data-mobile);
        position: absolute;
        width: 100%;
        transform: translate(0, -50%);
        left: 0;
        background: #0000;
        height: auto;
        top: 50%;
        font-size: 13px;
        text-align: center;
      }
      &:after {
        display: none;
      }
      display: inline-block;
      width: 100%;
      height: var(--spacer-desktop-height);
      min-height: 50px;
      border: 2px dashed grey;
      background: transparent;
      margin: 0;
      position: relative;
    }
  }
  .scm-mce-link-wrapper,
  .scm-mce-download-wrapper {
    border: 2px solid grey;
    padding: 0 10px;
    position: relative;
    & > span {
      display: block;
    }
    .link {
      font-size: 0;
      & > a {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: auto;
        width: 56px;
        &:before {
          content: "URL: " attr(href);
          width: auto;
          font-size: 13px;
          text-align: right;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          position: absolute;
          top: 7px;
          right: 2px;
          z-index: 9999;
          text-indent: 0;
          opacity: 0.25;
          transition: opacity 0.3s;
        }
        &[data-mce-selected="inline-boundary"] {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .scm-mce-transcript {
    border: 2px dashed;
    padding: 0 20px 0;
    position: relative;
    // &:not(.expanded) > * {
    //   display: none;
    // }
    // &::before {
    //   content: attr(data-label) " (Edit)";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background: #f0f0f0;
    //   padding: 2px 12px;
    //   font-size: 0.875rem;
    //   display: block !important;
    //   text-decoration: underline;
    // }
  }
}